.slick-list {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
}

.slick-slide {
  box-sizing: border-box;
  width: 40vw;
}

@media (min-width: 600px) {
  .slick-slide {
    width: 50vw;
    padding: 0 26px;
  }
}

.slick-arrow {
  display: none !important;
  width: 50%;
  opacity: 0;
  height: 100%;
  z-index: 100;
}

@media (min-width: 600px) {
  .slick-arrow {
    display: block !important;
  }
}

.slick-arrow:hover {
  opacity: 0;
}

.slick-next {
  right: 0;
}

.slick-next:hover {
  cursor: e-resize;
}

.slick-prev {
  left: 0;
}

.slick-prev:hover {
  cursor: w-resize;
}
