@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #FFFFFF;
  margin: 0;
  font: 16px/1 'Lato', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: normal;
}

strong {
  font-weight: normal;
}

a {
  color: inherit;
  transition: .3s;
  text-decoration: none;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.container {
  max-width: 1024px;
  margin: 100px auto;
  clear: both;
}

.container__full {
  max-width: 100%;
  width: 100%;
}

.container::after {
  content: '';
  display: block;
  clear: both;
}

.header__small {
  text-transform: uppercase;
  font-family: Lato;
  font-weight: bold;
  font-size: 14px;
  color: #B2C0CD;
  letter-spacing: 0.58px;
  line-height: 12px;
  margin-bottom: 5px;
}

.header__large {
  font-family: Lato;
  font-size: 35px;
  color: #131B26;
  letter-spacing: 0;
  line-height: 42px;
  margin-bottom: 10px;
}

.text__basic {
  font-family: Lato;
  font-weight: normal;
  font-size: 18px;
  color: #131B26;
  letter-spacing: 0;
  line-height: 28px;
}

[class^="grid-"] {
  float: left;
}

.grid-fifty {
  width: 100%;
  padding: 26px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .grid-fifty {
    width: 50%;
    padding: 0 26px;
  }

  .grid-fifty:first-child {
    padding-left: 0;
  }

  .grid-fifty:last-child {
    padding-right: 0;
  }
}

.grid-sixty {
  width: 100%;
  padding: 0 26px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .grid-sixty {
    width: 60%;
    padding: 0 26px;
  }

  .grid-sixty:first-child {
    padding-left: 0;
  }

  .grid-sixty:last-child {
    padding-right: 0;
  }
}

.grid-forty {
  width: 100%;
  padding: 0 26px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .grid-forty {
    width: 40%;
    padding: 0 26px;
  }

  .grid-forty:first-child {
    padding-left: 0;
  }

  .grid-forty:last-child {
    padding-right: 0;
  }
}

.list__detail {
  padding: 7px 0;
}

.list__detail li {
  padding: 7px 0;
  border-bottom: 1px solid #F2F5F8;
  font-family: Lato;
  font-weight: 600;
  font-size: 18px;
  color: #131B26;
  letter-spacing: 0;
  line-height: 28px;
}

.list__detail li:last-child {
  border-bottom: 0;
}

.home {
  background-color: #F2F5F8;
}
